name: Lint GitHub Actions and Workflows

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: rhysd/actionlint@0933c147c9d6587653d45fdcb4c497c57a65f9af # v1.7.10
