name: Lint GitHub Actions and Workflows

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: rhysd/actionlint@0933c147c9d6587653d45fdcb4c497c57a65f9af # v1.7.10
