name: Lint GitHub Actions and Workflows

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: rhysd/actionlint@a443f344ff32813837fa49f7aa6cbc478d770e62 # v1.7.9
