name: Lint GitHub Actions and Workflows

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: rhysd/actionlint@a443f344ff32813837fa49f7aa6cbc478d770e62 # v1.7.9
